<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">kamilmag</property>
        <property name="hibernate.connection.password">RrzvuXjAoH9jSx2c</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql.agh.edu.pl:3306/kamilmag</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="database.Data"/>
        <mapping class="database.Geography"/>
        <mapping class="database.Access"/>
        <mapping class="database.Adult_obesity"/>
        <mapping class="database.Age_structure"/>
        <mapping class="database.Agriculture_products"/>
        <mapping class="database.Air_transport"/>
        <mapping class="database.Airports"/>
        <mapping class="database.Annual_Values"/>
        <mapping class="database.Area"/>
        <mapping class="database.Bbl"/>
        <mapping class="database.BblOnly"/>
        <mapping class="database.Birth_rate"/>
        <mapping class="database.Border_countries"/>
        <mapping class="database.Branches"/>
        <mapping class="database.Breakdown"/>
        <mapping class="database.Broad_gauge"/>
        <mapping class="database.Budget"/>
        <mapping class="database.Budget_surplus_or_deficit"/>
        <mapping class="database.By_age"/>
        <mapping class="database.By_end_use"/>
        <mapping class="database.By_occupation"/>
        <mapping class="database.By_sector"/>
        <mapping class="database.By_sector_of_origin"/>
        <mapping class="database.By_source"/>
        <mapping class="database.Capital"/>
        <mapping class="database.Carbon_dioxide_emissions_from_consumption_of_energy"/>
        <mapping class="database.Citizenship"/>
        <mapping class="database.Civil_aircraft_registration_country_code_prefix"/>
        <mapping class="database.Client"/>
        <mapping class="database.Color"/>
        <mapping class="database.Commodities"/>
        <mapping class="database.Communications"/>
        <mapping class="database.Composition"/>
        <mapping class="database.Constitution"/>
        <mapping class="database.Countries"/>
        <mapping class="database.Country"/>
        <mapping class="database.Country_name"/>
        <mapping class="database.Crude_oil"/>
        <mapping class="database.Cubic"/>
        <mapping class="database.Data"/>
        <mapping class="database.Death_rate"/>
        <mapping class="database.DegressAndMinutes"/>
        <mapping class="database.Dependency_ratios"/>
        <mapping class="database.Diplomatic_representation"/>
        <mapping class="database.Drinking_water_source"/>
        <mapping class="database.Economy"/>
        <mapping class="database.Education_expenditures"/>
        <mapping class="database.Electricity"/>
        <mapping class="database.Elevation"/>
        <mapping class="database.End_uses"/>
        <mapping class="database.Energy"/>
        <mapping class="database.Environment"/>
        <mapping class="database.Ethnic_groups"/>
        <mapping class="database.Exchange"/>
        <mapping class="database.Executive_branch"/>
        <mapping class="database.Exports"/>
        <mapping class="database.Fiscal_year"/>
        <mapping class="database.Fixed_lines"/>
        <mapping class="database.Flag_description"/>
        <mapping class="database.From"/>
        <mapping class="database.Gdp"/>
        <mapping class="database.Geographic_coordinates"/>
        <mapping class="database.Government"/>
        <mapping class="database.Health_expenditures"/>
        <mapping class="database.Heliports"/>
        <mapping class="database.Hospital_bed_density"/>
        <mapping class="database.Household_income_by_percentage_share"/>
        <mapping class="database.Illicit_drugs"/>
        <mapping class="database.Imports"/>
        <mapping class="database.Improved"/>
        <mapping class="database.In"/>
        <mapping class="database.Independence"/>
        <mapping class="database.Industrial_production_growth_rate"/>
        <mapping class="database.Industries"/>
        <mapping class="database.Infant_mortality_rate"/>
        <mapping class="database.International_agreements"/>
        <mapping class="database.Internet"/>
        <mapping class="database.Introduction"/>
        <mapping class="database.Judicial_branch"/>
        <mapping class="database.Kw"/>
        <mapping class="database.KWh"/>
        <mapping class="database.Labor_force"/>
        <mapping class="database.Land_boundaries"/>
        <mapping class="database.Land_use"/>
        <mapping class="database.Languages"/>
        <mapping class="database.Legislative_branch"/>
        <mapping class="database.Life_expectancy_at_birth"/>
        <mapping class="database.Literacy"/>
        <mapping class="database.Major_infectious_diseases"/>
        <mapping class="database.Major_urban_areas"/>
        <mapping class="database.MalesAndFemales"/>
        <mapping class="database.Maternal_mortality_rate"/>
        <mapping class="database.Median_age"/>
        <mapping class="database.Merchant_marine"/>
        <mapping class="database.Military_and_security"/>
        <mapping class="database.Mobile_cellular"/>
        <mapping class="database.Mothers_mean_age_at_first_birth"/>
        <mapping class="database.MyCountry"/>
        <mapping class="database.NameAndPercent"/>
        <mapping class="database.National_anthem"/>
        <mapping class="database.National_holiday"/>
        <mapping class="database.National_symbol"/>
        <mapping class="database.National_system"/>
        <mapping class="database.Nationality"/>
        <mapping class="database.Natural_gas"/>
        <mapping class="database.Natural_hazard"/>
        <mapping class="database.Net_migration_rate"/>
        <mapping class="database.Occupation"/>
        <mapping class="database.Organization"/>
        <mapping class="database.Partners"/>
        <mapping class="database.Party"/>
        <mapping class="database.Paved"/>
        <mapping class="database.People"/>
        <mapping class="database.PeopleOrigin"/>
        <mapping class="database.Percent"/>
        <mapping class="database.Physicians_density"/>
        <mapping class="database.Pipelines"/>
        <mapping class="database.Place"/>
        <mapping class="database.Point"/>
        <mapping class="database.Political_parties_and_leaders"/>
        <mapping class="database.Political_pressure_groups_and_leaders"/>
        <mapping class="database.Population"/>
        <mapping class="database.Population_growth_rate"/>
        <mapping class="database.Ports_and_terminals"/>
        <mapping class="database.Railways"/>
        <mapping class="database.Ratios"/>
        <mapping class="database.Refined_petroleum_products"/>
        <mapping class="database.Refugees"/>
        <mapping class="database.Refugees_and_iternally_displaced_persons"/>
        <mapping class="database.Religion"/>
        <mapping class="database.Religions"/>
        <mapping class="database.Roadways"/>
        <mapping class="database.Sanitation_facility_access"/>
        <mapping class="database.School_life_expectancy"/>
        <mapping class="database.Sectors"/>
        <mapping class="database.Service_age_and_obligation"/>
        <mapping class="database.Sex_ratio"/>
        <mapping class="database.Standard_gauge"/>
        <mapping class="database.Stateless_persons"/>
        <mapping class="database.Stock_of_direct_foreign_investment"/>
        <mapping class="database.Suffrage"/>
        <mapping class="database.Symbol"/>
        <mapping class="database.Systemm"/>
        <mapping class="database.Taxes_and_other_revenues"/>
        <mapping class="database.Telephones"/>
        <mapping class="database.Time_difference"/>
        <mapping class="database.Total"/>
        <mapping class="database.Total_fertility_rate"/>
        <mapping class="database.Total_size"/>
        <mapping class="database.Transnational_issues"/>
        <mapping class="database.Transportation"/>
        <mapping class="database.Type"/>
        <mapping class="database.Unpaved"/>
        <mapping class="database.Urbanization"/>
        <mapping class="database.Users"/>
        <mapping class="database.ValueAndUnits"/>
        <mapping class="database.ValueAndUnitsAndDate"/>
        <mapping class="database.Waterways"/>
        <mapping class="database.Youth_unemployment"/>











    </session-factory>
</hibernate-configuration>